{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>Home</h1>
  <h4>La tarea consiste en realizar un Proyecto con un APP de Encuesta (polls)
    con Autentification de usuarios (Login, Register, Rutas protegidas y más)
    con el Fronted de Django y el Backed de python 3.10
    utilizando el sistema de gestión de bases de datos postgresql en el ambiente de Docker Desktop y adminer</h4>

    <h5>
      <nav>Asignatura: Programación</nav>
      <nav>Profesor: Dr. Roberto Alan Beltran</nav>
      <nav>Alumno: José Martínez Hemosa</nav>
      <nav> MTI </nav>
      <nav> Agosto, 2023</nav>
      
    </h5>
</div>

{% endblock %}
